bin
gen
build-private.properties
build
.idea
.gradle
.DS_Store
*.iml
local.properties
# Android Studio / Gradle noise
build/
bin/
gen/
out/
.gradle/
app/build/
#private files
release.keystore
service_account.json
