<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="org.openintents.safe"
  android:installLocation="auto">

  <uses-permission android:name="org.openintents.safe.ACCESS_INTENTS" />
  <uses-permission android:name="org.openintents.safe.ACCESS_SERVICE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <permission
    android:name="org.openintents.safe.ACCESS_INTENTS"
    android:description="@string/oi_safe_permission_intents_descr"
    android:label="@string/oi_safe_permission_intents"
    android:protectionLevel="dangerous" />
  <permission
    android:name="org.openintents.safe.ACCESS_SERVICE"
    android:description="@string/oi_safe_permission_service_descr"
    android:exported="true"
    android:label="@string/oi_safe_permission_service"
    android:process=":remote"
    android:protectionLevel="signature"
    tools:remove="permission" />

  <uses-feature
    android:name="android.hardware.touchscreen"
    android:required="false" />

  <application
    android:name=".SafeApplication"
    android:allowClearUserData="true"
    android:icon="@drawable/ic_launcher_safe"
    android:label="@string/app_name"
    android:fullBackupContent="false"
    android:allowBackup="false"
    android:theme="@style/AppTheme"
    tools:replace="android:label">

    <activity
      android:name=".Safe"
      android:label="@string/app_name"
      android:exported="false"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    <activity
      android:name=".FrontDoor"
      android:exported="true"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".IntentHandlerActivity"
      android:label="@string/app_name"
      android:exported="true"
      android:permission="org.openintents.safe.ACCESS_INTENTS">
      <intent-filter android:label="@string/intent_encrypt">
        <action android:name="org.openintents.action.ENCRYPT" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter android:label="@string/intent_encrypt">
        <action android:name="org.openintents.action.ENCRYPT" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="file" />
      </intent-filter>
      <intent-filter android:label="@string/intent_decrypt">
        <action android:name="org.openintents.action.DECRYPT" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter android:label="@string/intent_decrypt">
        <action android:name="org.openintents.action.DECRYPT" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="file" />
      </intent-filter>
      <intent-filter android:label="@string/intent_get_password">
        <action android:name="org.openintents.action.GET_PASSWORD" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter android:label="@string/intent_set_password">
        <action android:name="org.openintents.action.SET_PASSWORD" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity
      android:name=".PassGen"
      android:exported="false"
      android:label="@string/app_name" />
    <activity
      android:name=".CategoryEdit"
      android:exported="false"
      android:label="@string/app_name" />
    <activity
      android:name=".PassView"
      android:exported="false"
      android:label="@string/app_name" />
    <activity
      android:name=".PassList"
      android:exported="false"
      android:label="@string/app_name" />
    <activity
      android:name=".PassEdit"
      android:exported="false"
      android:label="@string/app_name" />
    <activity
      android:name=".CategoryList"
      android:exported="false"
      android:label="@string/app_name" />
    <activity
      android:name=".Search"
      android:exported="false"
      android:label="@string/app_name" />
    <activity
      android:name=".AskPassword"
      android:exported="false"
      android:label="@string/app_name"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".Help"
      android:exported="false"
      android:label="@string/app_name" />
    <activity
      android:name=".ChangePass"
      android:exported="false"
      android:label="@string/app_name" />
    <activity
      android:name=".Restore"
      android:exported="false"
      android:label="@string/app_name" />
    <activity
      android:name=".PreferenceActivity"
      android:exported="false"
      android:label="@string/app_name" />
    <activity
      android:name=".LogOffActivity"
      android:exported="false"
      android:label="@string/app_name" />
    <activity
      android:name=".dialog.DialogHostingActivity"
      android:exported="false"
      android:label="@string/app_name"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <activity
      android:name=".RestoreFirstTimeActivity"
      android:exported="false"
      android:label="@string/backup_file_found_label" />

    <service
      android:name=".service.AutoLockService"
      android:exported="false"
      android:enabled="true" />

    <provider
      android:name=".CryptoContentProvider"
      android:exported="false"
      android:authorities="org.openintents.safe" />



  </application>

</manifest>
